/**
 * Styling for Portfolio 2.0
 * Copyright 2017 Peter Martinson
*/

html {
  font-size:    10px;
  font-family:  'EB Garamond',serif;
  color:        black;
  background:   white;
  border:       0px;
  border-bottom: 5px solid black;
  min-height:   100vh;
  padding:      0px;
}

body {
  font-size: 1.5rem;
  max-width:    40rem;
  margin:       auto;
}

h1 {
  font-size: 3rem;
}

h2 {
}

h3 {
}

a {
  text-decoration: none;
  color: inherit;
}

.prettyprint {
  font-family: 'Courier', monospace;
  font-weight: bold;
  font-size: 1rem;
  overflow: auto;
  max-height: 10rem;
}

header {
  font-family: 'Quattrocento Sans', sans-serif;
  color:  gray;
  margin: 16px 16px 16px 16px;
  /* border-bottom: 1px solid #cecece; */
  padding-bottom: 16px;
  /* max-width: 60rem; */
}

header .icon {
  display:     block;
  background:  url(../assets/st_icon_bw_64.png) no-repeat;
  width:       64px;
  height:      64px;
  margin:      0 auto;
  padding:     0px;
}

header .name {
  display: block;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

main {
  font-size: 1.5rem;
  margin: 16px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

main a:hover,footer a:hover {
  box-shadow: 0px 0px 5px 5px orange;
  background: orange;
}

section {
  margin-top: 10px;
  padding-bottom: 10px;
  /* border-bottom: 1px solid #cecece; */
  max-width: 40rem;
}

.work {
  text-align: center;
}

.work a {
  position: relative;
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  z-index: 0;
}

.work a:hover {
  border: 1px solid orange;
  z-index: 1;
}

.project-splash {
  text-align: center;
}

.project-splash img {
  box-shadow: 0px 0px 2px 2px #cecece;
  border: 1px solid #cecece;
  margin-bottom: 32px;
  max-width: 34rem;
}

.tags span {
  background: gray;
  color: white;
  padding: 4px;
  border-radius: 2px;
}

.project-links {
  text-align: center;
  margin-top: 16px;
}
.project-links a {
  background: gray;
  color: white;
  padding: 4px;
  border-radius: 2px;
}

.project-links a:hover {
  background: orange;
  color: black;
  border-radius: 0px;
}


footer {
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 16px;
}

footer div {
  margin-bottom: 16px;
}

footer span {
  display: block;
  font-family:  'EB Garamond',serif;
}

/* footer a:hover { */
/*   box-shadow: 0px 0px 5px 5px orange; */
/*   background: orange; */
/* } */


@media all and (min-width: 720px) {

body {
  font-size:    1.5rem;
  max-width:    60rem;
  margin:       auto;
}

header {
  margin-top:  64px;
}

header .icon {
  float: right;
  background:  url(../assets/st_icon_bw_64.png) no-repeat;
  width:       64px;
  height:      64px;
}

header .name {
  display:     inline-block;
}

section {
  max-width: 60rem;
}

.project-splash img {
  max-width: 60rem;
}


footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 16px;
  /* max-width: 60rem; */
}

footer div {
  flex-grow: 1;
  display: inline-block;
}

footer span {
  display: block;
  font-family:  'EB Garamond',serif;
}
}
